My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"isOrder\"]}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "5e24f774-3b40-4246-88da-5b360b5e9d7d",
      "name": "Is Order?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        -180
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": "your_order_sheet_id",
        "range": "Orders!A:D",
        "options": {}
      },
      "id": "6c31d8f6-1683-4cb3-8887-ab5a64a15375",
      "name": "Store Order",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        800,
        -100
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -40,
        -160
      ],
      "id": "73baa75a-05ec-4d3f-bd30-32e827b7e45a",
      "name": "When chat message received",
      "webhookId": "955da2b1-fe80-4424-872c-356e9bfe1a4b"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        300,
        -460
      ],
      "id": "b8369de0-5799-4634-a996-2b26c3cc062e",
      "name": "AI Agent",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        180,
        -60
      ],
      "id": "667c35a2-a3cb-4c7d-88f0-490c91f3d198",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "bN5NvdEb4YtEHhEt",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        280,
        -80
      ],
      "id": "f3c82d1f-8f68-4f27-b7b7-b4ae175eb5ac",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        340,
        -20
      ],
      "id": "d331b3d7-2fdd-4278-a4f0-ce9c7cce02ec",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "mmEb882lu6sLXJeu",
          "name": "SerpAPI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "60d04589-2a30-4cfd-b63c-627f9573fb2d",
  "meta": {
    "instanceId": "742176d58bebb008b2bca502423e5aca85a39e5c734056dafe7d8fd341932f9a"
  },
  "id": "XqmlthWCve1vtrs6",
  "tags": []
}