personal_gmail_agent (1).json
{
  "name": "personal gmail agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -1300,
        -140
      ],
      "id": "44ff671d-3f72-400a-a3c5-2f30e1a975a8",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Juyoe240WsRHTkqu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ac344d4-e2a6-4f7e-99d3-e04860d0c700",
              "name": "email context by socail",
              "value": "=sender Email:\n{{ $('Gmail Trigger').item.json.From }}\nEmail subject:\n{{ $('Gmail Trigger').item.json.Subject }}\nEmail body:\n{{ $('Gmail Trigger').item.json.snippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        -320
      ],
      "id": "cb07d2e4-abf5-41f4-8b96-e034b08384c4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "inputText": "=sender email:\n{{ $json.From }}\nEmail subject: \n{{ $json.Subject }}\nEmail body:\n{{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "Promotions",
              "description": "Any email looking to sell me things"
            },
            {
              "category": "Social",
              "description": "Any email from a social media site like YouTube, Facebook, or other websites"
            },
            {
              "category": "Personal",
              "description": "Any email from my friends, family, or relatives"
            },
            {
              "category": "Updates",
              "description": "Any email that gives me some updates"
            },
            {
              "category": "Recruiters",
              "description": "Any email offering a job, trying to hire me, or asking me to join a team"
            },
            {
              "category": "Miscellaneous",
              "description": "Any email that doesn't fit into the other categories"
            },
            {
              "category": "No Reply",
              "description": "Any email sent from addresses that start with 'noreply', 'no-reply', or 'donotreply"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -960,
        -220
      ],
      "id": "ae608c96-1c59-4bd2-8710-744b5107f5f1",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "CATEGORY_PROMOTIONS"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -400,
        -520
      ],
      "id": "738621ce-f43f-472d-8931-10d2cff54355",
      "name": "Promotions label",
      "webhookId": "96ec1702-5eb6-46e0-a6c9-96aa85a17367",
      "credentials": {
        "gmailOAuth2": {
          "id": "Juyoe240WsRHTkqu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "CATEGORY_SOCIAL"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -360,
        -320
      ],
      "id": "ce2e9692-3aa0-43aa-b8cc-304dce5fe649",
      "name": "Social",
      "webhookId": "96ec1702-5eb6-46e0-a6c9-96aa85a17367",
      "credentials": {
        "gmailOAuth2": {
          "id": "Juyoe240WsRHTkqu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_1905988558456585895"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -380,
        -140
      ],
      "id": "10d3cb10-eec8-4604-a3d9-b289cca8997a",
      "name": "Personal",
      "webhookId": "96ec1702-5eb6-46e0-a6c9-96aa85a17367",
      "credentials": {
        "gmailOAuth2": {
          "id": "Juyoe240WsRHTkqu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "CATEGORY_UPDATES"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -340,
        60
      ],
      "id": "4cbf18be-6e78-46e8-acc7-e512b11e1d8a",
      "name": "Updates",
      "webhookId": "96ec1702-5eb6-46e0-a6c9-96aa85a17367",
      "credentials": {
        "gmailOAuth2": {
          "id": "Juyoe240WsRHTkqu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_7405921955186291395"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -340,
        220
      ],
      "id": "bf362715-937f-4c69-9971-c585dbfa25b7",
      "name": "Recruiters",
      "webhookId": "96ec1702-5eb6-46e0-a6c9-96aa85a17367",
      "credentials": {
        "gmailOAuth2": {
          "id": "Juyoe240WsRHTkqu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_6921298225052478600"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -680,
        180
      ],
      "id": "92474022-0405-41d9-8a2a-9c3901f00d2c",
      "name": "Miscellaneous1",
      "webhookId": "96ec1702-5eb6-46e0-a6c9-96aa85a17367",
      "credentials": {
        "gmailOAuth2": {
          "id": "Juyoe240WsRHTkqu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_6913012657236760512"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -340,
        580
      ],
      "id": "4c1a412f-8b0e-49b6-b162-4e3c4b01218d",
      "name": "No Reply",
      "webhookId": "96ec1702-5eb6-46e0-a6c9-96aa85a17367",
      "credentials": {
        "gmailOAuth2": {
          "id": "Juyoe240WsRHTkqu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -160,
        -520
      ],
      "id": "91c5654b-8640-4eba-9946-f574449b7993",
      "name": "Gmail",
      "webhookId": "542d1a45-6275-4e38-a0b7-7d4d5480e0a5",
      "credentials": {
        "gmailOAuth2": {
          "id": "Juyoe240WsRHTkqu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['email context by socail'] }}",
        "options": {
          "systemMessage": "You are Zoya, an email reply assistant of Sir Asad.\n\nYour task is to generate a polite and professional email reply\n\nIn your reply:\n\nIntroduce yourself as Sir Asad’s assistant.\n\nInform the sender that their email has been successfully forwarded to Sir Asad.\n\nLet them know that Sir Asad will contact them shortly.\n\nMaintain a respectful and helpful tone.\n\nDo not include the sentence: “Here is a polite and professional reply.” or any similar sentence.\njust repay\n\nOutput the final reply in HTML format only (inside <html><body>...</body></html>).\n\n✅ Example Output (HTML Template):\nhtml\nCopy\nEdit\n<html>\n  <body>\n    <p>Dear [Sender's Name],</p>\n    \n    <p>I hope this message finds you well.</p>\n    \n    <p>My name is <strong>Zoya</strong>, and I am the assistant to <strong>Sir Asad</strong>. I would like to inform you that your email has been successfully forwarded to Sir Asad. He will review your message and get in touch with you shortly.</p>\n    \n    <p>If you have any additional information or documents you'd like to share, feel free to reply to this email.</p>\n    \n    <p>Thank you for reaching out.</p>\n    \n    <p>Best regards,<br>\n    Zoya<br>\n    Assistant to Sir Asad</p>\n  </body>\n</html>\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        360,
        -500
      ],
      "id": "99cc09de-182a-4c51-827d-5f08b777c94a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3-70b-8192",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -320,
        -880
      ],
      "id": "d2390cd4-14f2-4d8b-8909-e379ca256864",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "rhWEey0yV53iqCu5",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        760,
        -320
      ],
      "id": "d8e72aa4-2daa-40c7-ab07-ccc5bb757a1d",
      "name": "Gmail1",
      "webhookId": "c9c08c79-dadd-4221-8256-02caf1f54db0",
      "credentials": {
        "gmailOAuth2": {
          "id": "Juyoe240WsRHTkqu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ac344d4-e2a6-4f7e-99d3-e04860d0c700",
              "name": "email context by socail",
              "value": "=sender Email:\n{{ $('Gmail Trigger').item.json.From }}\nEmail subject:\n{{ $('Gmail Trigger').item.json.Subject }}\nEmail body:\n{{ $('Gmail Trigger').item.json.snippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -100,
        -140
      ],
      "id": "955d724f-18c1-4273-8ab8-bc8d45271230",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Gmail Trigger').item.json.From }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        40,
        -880
      ],
      "id": "f17cedda-ba07-42a1-8172-d8de24e7782a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -40,
        240
      ],
      "id": "e362962e-59ff-43e6-9182-dd1c7d5177c4",
      "name": "Gmail2",
      "webhookId": "542d1a45-6275-4e38-a0b7-7d4d5480e0a5",
      "credentials": {
        "gmailOAuth2": {
          "id": "Juyoe240WsRHTkqu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        360,
        120
      ],
      "id": "6515d2bc-8dc2-48ec-8146-dec23169f6d1",
      "name": "Gmail3",
      "webhookId": "542d1a45-6275-4e38-a0b7-7d4d5480e0a5",
      "credentials": {
        "gmailOAuth2": {
          "id": "Juyoe240WsRHTkqu",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "196f43ec03bd2e6c",
          "threadId": "196f43ec03bd2e6c",
          "snippet": "i want to join our team",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 5543,
          "historyId": "674778",
          "internalDate": "1747854462000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_PERSONAL",
              "name": "CATEGORY_PERSONAL"
            }
          ],
          "From": "word bucket team <wordbkt@gmail.com>",
          "Subject": "hi",
          "To": "\"asadazhar5612@gmail.com\" <asadazhar5612@gmail.com>"
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Promotions label",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Social",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Personal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Updates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Recruiters",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Miscellaneous1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Promotions label": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Social": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personal": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updates": {
      "main": [
        [
          {
            "node": "Gmail3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Miscellaneous1": {
      "main": [
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recruiters": {
      "main": [
        [
          {
            "node": "Gmail3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Reply": {
      "main": [
        [
          {
            "node": "Gmail3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "854d03ee-732f-4884-bb1d-92d83788f778",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b58f5a11fe571ffc86702603a2add3f70cd16968914e2e54c277d4aa40291664"
  },
  "id": "Ut73PMbePjwglq18",
  "tags": []
}